.mainContainer {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
  flex-direction: column;
}

.section-container-content {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
}
