.mainContainer {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
  flex-direction: column;
  background-color: white;
}

.mainContainer.lightBackground {
  background-color: #f3f1f1;
}

.section-container-content {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
}
