/* Head Section */

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.head-section-container {
  display: flex;
  width: 100%;
  margin: auto;
  height: 100vh;
  background-image: url('../../images/casa1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  animation: changeBg 10s ease-in-out infinite;
}

.main-title {
  color: white;
  text-align: center;
  text-shadow: 0px 0px 9px #333;
  font-size: 2.5vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@keyframes changeBg {
  0% {
    background-image: url('../../images/casa2.jpg');
  }

  33% {
    background-image: url('../../images/casa1.jpg');
  }

  66% {
    background-image: url('../../images/casa4.png');
  }

  /* 100% {
    background-image: url('https://lh3.googleusercontent.com/p/AF1QipMjsA-dGk05PGVgWSDtuoz37O3FwlbbBKJvaKc4=w1080-h608-p-no-v0');
  } */
}

/* Presentation Section  */

.presentation-section-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 20px;
  overflow: hidden;
  gap: 100px;
  padding: 20px;
}

.column-half {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.column-profile {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}

.presentation-section-container p {
  font-size: 20px;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  @media screen and (max-width: 1000px) {
    font-size: 14px;

  }
}


.profile-picture {
  display: block;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  overflow: hidden;
  min-width: 180px;
  min-height: 180px;
  box-shadow: 0px 0px 9px #333;

}

.profile-picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
